*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#background{
    background-image: url("../img/1.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat fixed;
    background-size: cover;
    z-index: -1;
    position: absolute;
    filter: blur(4px);
}
#login{
    width: 248px;
    float: right;
    position: relative;
    z-index: 1;
    background-color: white;
    border-radius: 10px;
    padding: 30px 40px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 17px 1px black;
}
.text{
    border-radius: 10px;
    border-color: #e7e7e7;
    color: black;
    border-style: solid;
    position: relative;
    margin-bottom: 10px;
    outline: none;
    height: 25px;
    width: 220px;
    padding: 8px 10px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}
.text:focus{
    color: black;
    cursor: pointer;
}
.text::placeholder{
    text-indent: 0px;
    transition: text-indent 0.3s ease;
    color: black;
}
#lower_text::placeholder{
    text-transform: capitalize;
}
.login-button{
    width: 245px;
    height: 40px;
    border-radius: 10px;
    background: linear-gradient(to right,#1fb4ad, #3044b9, #a514d1);
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    border: none;
    outline: none;
    transform: translate(1s);
    transition: 1s;
}
.login-button:hover{
    opacity: 0.8;
    cursor: pointer;
}
#pas{
    font-size: 11px;
    cursor: pointer;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    padding-left: 5px;
    color: rgb(#1fb4ad, #3044b9, #a514d1);
}
table tr td a{
    text-decoration: none;
}
h1{
    text-align: center;
    font-weight: bolder;
    font-size: 32.5px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid #e75480;
}
.fa-brands{
    font-size: 25px;
    line-height: 40px;
    cursor: pointer; 
    transition: .5s;  
    float: left; 
}
.social-media{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 5px;
    margin-top: 15px;
}
.fa-google{
    color: #db3236;
}
.fa-facebook{
    color: #4267B2;
}
.fa-twitter{
    color: #1DA1F2;
}
.with{
    text-align: center;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 17px;
}
.register-button{
    border-radius: 10px;
    background-color: #e75480;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-top: 8px;
    border: none;
    outline: none;
    transition: 1s;
    transform: translate(1s);
    margin-bottom: 5px;
    height: 40px;
    width: 245px;
}
.register-button:hover{
    opacity: 0.8;
    cursor: pointer;
}
@media screen and (max-width: 900px){
    #login{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        margin-bottom: 70px;
        background: #E8E4D7;
    }
    html,body{
        width: 100%;
        height: 100vh;
        overflow: hidden;
        font-family: 'Poppins', sans-serif;
    }
    .login-button{
        width: 300px;
        height: 50px;
    }
    .register-button{
        width: 300px;
        height: 50px;
    }
    .text{
        width: 275px;
        height: 30px;
    }
    #pas{
        font-size: 14px;
        margin: 8px 8px;
    }
    .with{
        font-size: 18px;
    }
    .fa-brands{
        font-size: 40px;
    }
    .social-media{
        gap: 35px;
        margin-bottom: 70px;
    }
    h1{
        font-size: 60px;
        border-bottom: 1px solid #e75480;
    }
    .text{
        font-weight: bold;
    }
    .text:focus{
        background: white;
        color: black;
    }
    .text::placeholder{
        color: black;
    }
    .user-login{
        background-color: #E8E4D7;
    }
    #pas-2{
        color: slateblue;
    }
    #pas-2:active{
        color: #1fb4ad;
    }
    .text_2{
        width: 300px;
        height: 30px;
        font-weight: bold;
        position: absolute;
    }
    .text_2:focus{
        color: black;
    }
    .text_2::placeholder{
        color: black;
    }
    .inputGroup{
        width: 100%;
    }
    tr td div #toggle{
        display: flex;
        float: right;
        margin-right: -27px;
        margin-top: 3px;
        display: inline;
    }
    .inputGroup2{
        width: 100%;
    }
}
#pas-2{
    color: slateblue;
}
#pas-2:active, #pas-2:hover{
    color: #1fb4ad;
}
#pas{
    font-size: 13px;
    display: inline;
}
.text_2{
    border-radius: 10px;
    border-color: #e7e7e7;
    color: black;
    border-style: solid;
    position: relative;
    margin-bottom: 10px;
    outline: none;
    height: 25px;
    width: 248px;
    padding: 8px 10px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}
.text_2:focus{
    color: black;
    cursor: pointer;
}
.text_2::placeholder{
    color: black;
}
#register-h1{
    text-align: center;
    font-weight: bolder;
    font-size: 32.5px;
    padding-bottom: 10px;
    margin-bottom: 35px;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid #e75480;
}
.fa-arrow-left{
    color: #e75480;
    size: 20px;
    display: inline;
}
.fa{
    margin-right: 50px;
    font-size: 22.5px;
    line-height: 40px;
    cursor: pointer; 
    transition: .5s;  
    float: left; 
    margin-bottom: 10px;
}
#f-1{
    padding-bottom: 10px;
    margin-bottom: 25px;
    font-size: 32.5px;
    border-bottom: 1px solid #e75480;
}
.text-2:focus{
    color: black;
    cursor: pointer;
    justify-content: center;
    float: center;
}
.text-2::placeholder{
    color: black;
}
.text-2{
    border-radius: 10px;
    border-color: #e7e7e7;
    color: black;
    border-style: solid;
    position: relative;
    margin-bottom: 10px;
    outline: none;
    height: 27.5px;
    width: 248px;
    padding: 8px 10px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}
.pass-reset{
    margin-bottom: 5px;
    margin-top: 20;
    height: 45px;
    width: 275px;
}
.register-button2{
    border-radius: 10px;
    background-color: #e75480;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-top: 0px;
    border: none;
    outline: none;
    transition: 1s;
    transform: translate(1s);
    margin-bottom: 5px;
    height: 40px;
    width: 275px;
    cursor: pointer;
}
.fa-eye{
    position: absolute;
    font-size: 14px;
	right:18px;
	top:42%;
	transform:translateY(-50%);
    cursor: pointer;
    color: slateblue;
}
.f1{
    position: relative;
    margin-left: 260px;
    display: inline;
    top: -34px;
}
.inputGroup{
	width:248px;
	position:relative;	
}
.inputGroup2{
    width: 248px;
    position: relative;
}